@import "tailwindcss";

@theme inline {
  --color-ubuntu-orange: #e95420;
  --color-ubuntu-bg: #333333;
  --color-window-header: #2c001e;
  --font-ubuntu: "Ubuntu", sans-serif;
}

:root {
  --background: url("https://images.wallpapersden.com/image/download/ubuntu-19-10_a2tsaGuUmZqaraWkpJRpZW5rrWdoZWk.jpg")
    no-repeat center center fixed;
  --background-size: cover;
}

body {
  background: var(--background);
  color: white;
  font-family: var(--font-ubuntu), sans-serif;
  overflow: hidden;
}
